<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <title>WellnessWizard</title>
    <style>
        body {
            background-color: rgb(248, 242, 242);
        }

        .container {
            max-width: 1000px;
        }

        .header {
            background-color: #00D1B2;
            color: white;
            border-radius: 8px;
            padding: 10px;
            margin-bottom: 20px;
            text-align: center;
        }

        .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            flex-wrap: wrap;
        }

        .card {
            flex: 0 0 30%;
            background-color: #fff8f8;
            padding: 20px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        }

        .card:hover {
            transform: translateY(-10px);
        }

    /* Individual card styles */
        .user-info {border: 2px solid #96f463;}
        .magical-inspiration {border: 2px solid #ea912b;}
        .hydration-tracker {border: 2px solid #6ffbed;}
        .fitness-tracker {border: 2px solid #f2f45c;}
        .sleep-log {border: 2px solid #ce70f0;}
        .calorie-intake {border: 2px solid #f25850;}
    </style>
</head>

<body>
    <section class="section">
        <div class="container">
            {{{body}}}
        </div>
    </section>
</body>

</html>