<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/pico.css">
    <title>WellnessWizard</title>
    <style>

        body {
            background-color: lightgray;
        }

        .container {
            max-width: 960px;
            margin: auto;
        }

        .header {
            text-align: center;
        }

        .header h1 {
            color: teal;
        }

        .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .card {
            flex: 0 0 30%;
            background-color: #e0e0e0;
            padding: 20px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        }

        .offset {
            margin-top: 20px;
        }

    /* Individual card styles */
        .user-info { background-color: #ffddc1; }
        .magical-inspiration { background-color: #c2c2f0;}
        .hydration-tracker { background-color: #c1e7e3;}
        .fitness-tracker { background-color: #d5e8d4;}
        .sleep-log { background-color: #fff2cc;}
        .calorie-intake { background-color: #f8cecc;}
    </style>
</head>
<body>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>