<body>
    <div class="container">
        <header class="text-center py-2 header">
            <h1>Wellness Wizard</h1>
            <p>"Your path to wellness, guided by wizards"</p>
        </header>

        <div class="row">
            <div class="card user-info rounded-border">
                <h2>User Info</h2>
             <ul class="list-none p-0 ">
                <li>Name: Emily</li>
                <li>Gender: Female</li>
                <li>Height: 7ft</li>
                <li>Weight: 130lb</li>
             </ul>
            </div>
            
            <div class="card magical-inspiration offset rounded-border">
                <h2>Magical Inspiration</h2>
                <h4>"Quote of the day"</h4>
                <p><small>Display Date: 9/21/2023</small></p>
            </div>
            
            <div class="card hydration-tracker rounded-border">
             <h2>Hydration Tracker</h2>
             <p>You have consumed {{waterConsumption}} liters of water today.</p>
             <form action="/update-water" method="POST" class="my-2">
                <label for="waterAmount" class="block mb-1">Add water:</label>
                <input type="number" id="waterAmount" name="waterAmount" min="0" step="0.1" class="block w-full p-1 mb-2 border rounded">
                <button type="submit" class="block w-full p-1 border rounded bg-blue-500 hover:bg-blue-700 text-white">Update</button>
             </form>
            </div>
        </div>

        <div class="row">
            <div class="card fitness-tracker rounded-border">
                <h2>Fitness Tracker</h2>
                    {{#each workouts}}
                        <p>{{this}}</p>
                    {{/each}}
            </div>
            
            <div class="card sleep-log offset rounded-border">
                 <h2>Sleep Log</h2>
                 <p>You slept for {{totalSleep}} hours last night.</p>
            </div>
            
            <div class="card calorie-intake rounded-border">
                <h2>Calorie Intake</h2>
                <p>You have consumed {{calorieIntake}}/2500 calories today.</p>
            </div>
        </div>
    </div>
</body>